<h1>Random Image</h1>
<%= link_to 'Generate Random Image', '/random_images/random', class: 'btn btn-primary', style: 'display: block; margin-bottom: 20px;', 'data-turbo-frame': 'top' %>
<% if @random_image.present? %>
  <%= image_tag @random_image.url, style: 'width: 1080px; height: 1080px; object-fit: cover; margin-top: 20px;' %>
<% end %>
