<h1>Random Anime Image</h1>
<%= link_to 'Generate Random Anime Image', '/anime/random', class: 'btn btn-primary', style: 'display: block; margin-bottom: 20px;' %>
<% if @anime.present? %>
  <%= image_tag @anime.url, style: 'width: 1080px; height: 1080px; object-fit: cover; margin-top: 20px;' %>
<% end %>
