<!-- Random Cat Image -->
<h1>Random Cat Image</h1>
<%= link_to 'Generate Random Cat Image', '/cats/random', class: 'btn btn-primary' %>
<% if @cat.present? %>
  <%= image_tag @cat.url, style: 'width: 1080px; height: 1080px; object-fit: cover; margin-top: 20px;' %>
<% end %>
